*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:url('background.jpg') no-repeat;
    background-size:cover ;
}
.Forgot_Password{
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: rgb(0, 2, 3);
}
.Forgot_Password h1{
    font-size: 38px;
    text-align: center;
}
.Forgot_Password p{
    font-size: 15px;
    margin: 15px 0;;
}
}
.button1{
    width: 320px;
    height: 35px;
    /* margin-bottom: 50px; */
    padding-bottom: 40px;
}
