*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:url('https://gcdnb.pbrd.co/images/Vt3N1yHOXLNM.jpg?o=1') no-repeat;
    background-size:cover ;
}
.Forgot_Password{
    width: 400px;
    top: 50%;
    left: 50%;
    background-color: rgb(245, 225, 188);
    transform: translate(-50%,-50%);
    position: absolute;
    color: rgb(0, 2, 3);
    height:280px ;
    margin: auto;
    border-radius: 3px;
}

.Forgot_Password p{
    font-size: 15px;
    margin: 15px 0;;
}
h1{
    text-align: center;
    padding-top: 15px;
}
